:root{
    --color-a:#c7cdff;
    --color-b:rgb(175, 0, 255);
    --color-b-alpha:rgb(175, 0, 255, 0.1);
}

@font-face {
	font-family: 'cmu';
	src: url('fonts/cmunvt.eot');
	src: url('fonts/?#iefix') format('embedded-opentype'),
		 url('fonts/cmunvt.woff') format('woff'),
		 url('fonts/cmunvt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'cmu';
	src: url('fonts/cmunvi.eot');
	src: url('fonts/cmunvi.eot?#iefix') format('embedded-opentype'),
		 url('fonts/cmunvi.woff') format('woff'),
		 url('fonts/cmunvi.ttf') format('truetype'),
		 url('fonts/cmunvi.svg#cmunvi') format('svg');
	font-weight: normal;
	font-style: italic;
}
/*
@font-face{
    font-family:manifont;
    src:url('fonts/ManifontGroteskBook.otf');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:manifont;
    src:url('fonts/ManifontGroteskBold.otf');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:manifont;
    src:url('fonts/ManifontGroteskBoldItalic.otf');
    font-weight:bold;
    font-style:italic;
}

*/


@font-face {
    font-family: minipax;
    src: url(fonts/Minipax-Medium.otf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: minipax;
    src: url(fonts/Minipax-SemiBold.otf);
    font-weight:bold;
    font-style:normal;
}

*{
    box-sizing: border-box;
}

html{
    font-size:10px;
    overflow:hidden;
    
}
body{
    overflow:hidden;
}
html, body{
    font-family:minipax;
    background:var(--color-a);
    margin:0;
    padding:0;

    height:100%;
    width:100%;
}
header{
    height:5rem;
    background:var(--color-a);
    border-bottom:2px solid black;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    padding:1rem;
    z-index:1000;

}
.main-bar h2{
    font-size:2.5rem;
    line-height:3rem;
    margin:0;
    padding:0;
    text-align:left;
}
.main-bar h2 a{
    text-decoration: none;
}
a{
    color:black;
}
h1{
    font-size:12rem;
    line-height:1em;
    color: black;
    margin:6rem 0;
    
}
h2{
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    font-size:6rem;
    line-height:7rem;
    word-wrap: break-word;
    font-family: minipax;
    text-align:center;
    margin:4rem 0 2rem 0;
}
h3{
    font-weight:normal;
    font-size:2.5rem;
    line-height:3rem;
    margin:2rem 0 2rem 8rem;
    
}

#content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#content.moving{
    transition:left ease-in 1s, top ease-in 1s;
}
.screen{
    width:100%;
    height:100%;
    overflow:hidden;
    padding:0;

    font-size:2.5rem;
    line-height:3rem;

    position:absolute;


}


.screen-content{
    position:relative;
    height:100%;
    overflow:auto;
}

.player{
    display:flex;
    
}

.player .player-btn{
    flex:0 0 4rem;
    font-size:4rem;
    cursor:pointer;
    color:var(--color-b);

}

.progress-bar{
    background:var(--color-b);
}

.progress-bar.excerpt{
    position:absolute;
    overflow:hidden;
    top:5rem;
    left:0;
    width:0;
    min-height: calc(100vh - 5rem);

}
.progress-bar.excerpt div{
    width:100vw;
    display:flex;
    justify-content: center;
    padding:0 1rem;
}
.progress-bar.excerpt h1{
    max-width:100rem;
    color:var(--color-a);
}
.progress-bar-container{
    width:calc(100% - 4rem);
    background:var(--color-b-alpha);
}

.progress-bar.full{
    height:4rem;
    width:0px;
}

main{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    padding:5rem 1rem 25vh 1rem;

}

aside{
    font-family:cmu;
    font-style:italic;
    margin:4rem 0 4rem 0;
    border-left: 2px solid;
    padding: 0 1rem;
    align-self:self-start;
}
aside ul{
    list-style: none;
    margin:0;
    padding:0;
}
article{
    max-width:100rem;
 
    font-family:minipax;
    flex-basis: 100%;

}

article p{

    margin:0;
    text-indent:8rem;
}


.linked-fragments{
    list-style:none;
    font-style:italic;
    margin:0;
    padding:0;
}
.linked-fragments li{
    margin:0;
    padding:0;
}

.edges-nav{
    list-style:none;
    padding:0 1rem 1rem 1rem;
    width:100%;
    margin:0;
    text-align:center;
    font-style:italic;
    position: absolute;
    bottom:0;
    max-height:25vh;
    background:var(--color-a);
    z-index:10;
}
.edges-nav li{
    margin:0 1rem 0 0;
    display:inline;
}
.to-screen{
    font-family:cmu;
    text-transform:lowercase;
    font-size:3rem;
    margin:0;
    color:var(--color-b);
    text-decoration:none;
}
.to-screen>span{
    display:inline;
    white-space:nowrap;
    border-top:2px solid var(--color-b);
}
.to-screen>span>span:first-child{
    white-space: normal;
}
.link-direction{
    display:inline-block;

}
.galery{
    margin:2rem 0;

}
.splide__list{
    height:auto;
}
.splide__slide img{
    max-width:90%;
    max-height:80vh;
}
.splide__slide{
    text-align:center;
}
.splide__pagination {
    bottom: 0;
    transform: translateY(2rem);
    padding: 0 1em;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .splide__pagination__page, .splide__pagination__page.is-active{
    background:black;
  }
#close-splash{
    position:absolute;
    top:1rem;
    right:1rem;
    cursor:pointer;
}

#splash{
    position:fixed;
    height:100%;
    width:100%;
    background:var(--color-a);
    z-index:10000;
    font-size: 2.5rem;
    line-height: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
    overflow:auto;
}
#splash article{
    max-height:100%;

    
}
#splash article p:first-child{
    margin-top:3rem;
}

#splash.hidden{
    display:none;
}
.splash-link{
    position: absolute;
    right: 1rem;
    top: 0;
    line-height: 5rem;
    font-size: 2rem;
    text-transform: lowercase;
    text-decoration: none;
}
#register-form{
    display: flex;
    align-items: center;   
    flex-wrap:nowrap; 
    margin:3rem 0;
}

#register-form.submitted * {
    display:none;
}

#register-form.submitted:after{
    content:'Thank you!';
    display:block;
    margin-top:3rem;
}

#register{
    margin:1rem;
border: none;
line-height: 3rem;
font-size: 2rem;

height: 4rem;
font-family: minipax;
margin-right:2rem;
flex-basis:50%;
flex-grow:1;
flex-shrink:1;

}

#register-button{
    height:4rem;
    font-size:2rem;
    line-height:3rem;
    color:black;
    margin:1rem;
    font-weight:normal;
    border:none;
    background:white;
    font-family: minipax;
    display:block;
    
}
