@media screen and (max-width:600px) {
    html{
        font-size:9px;
    }
    h1{
        font-size:8rem;
    }
    h2{
        font-size:4rem;
        line-height:4rem;
    }
    main{
        flex-direction: column;
    }
    .to-screen{
        font-size:2rem;
    }
}