:root{
    --color-a:#f0f0d6;
    --color-b:#007120;
    --color-interface-a:#bae1ec;
    --color-interface-b:#dfbaec;
    --color-arrows:#000;
    --node-font:'manifont';
    --edge-font:'hershey';
    --ui-font:'cmu';
}

@font-face {
	font-family: 'cmu';
	src: url('../assets/fonts/cmunvt.eot');
	src: url('../assets/fonts/?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/cmunvt.woff') format('woff'),
		 url('../assets/fonts/cmunvt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'cmu';
	src: url('../assets/fonts/cmunvi.eot');
	src: url('../assets/fonts/cmunvi.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/cmunvi.woff') format('woff'),
		 url('../assets/fonts/cmunvi.ttf') format('truetype'),
		 url('../assets/fonts/cmunvi.svg#cmunvi') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face{
    font-family:hershey;
    src:url('../assets/fonts/Hershey-Noailles-Times-Duplex-Italic-Bold.otf');
    font-weight:bold;
    font-style:italic;
}
@font-face{
    font-family:manifont;
    src:url('../assets/fonts/ManifontGroteskBoldItalic.otf');
    font-weight:bold;
    font-style:italic;
}


.loader-font-1{
    font-family:var(--node-font);
    font-weight:bold;
}

html, body{
    background-color:var(--background-color) !important;
}
body{
    background-color:var(--background-color);
}




ul{
    list-style: none;
    margin:0;
    padding:0;
}
li{
    margin:0;
    padding:0.2rem;
}


h3{
    color:black;
    font-family:var(--ui-font);
    line-height:1em;
}

/*overwrite pw rules. this is dirty but we still need some pw styles*/
#pw-mastheads, #pw-content-head, footer{
    display:none;
}

#main{
    max-width:inherit;
    min-width:100%;
    margin:0 !important;
    padding:0;
}

section.chemins-container{
    font-size:2rem;
    min-height:100vh;
    min-width:100vw;
    background:var(--color-a);
}


.space-arrow{
    position:fixed;
    width: 0; 
    height: 0; 
    cursor:pointer;
    opacity:0;
    transition: opacity linear 100ms;
}
.space-arrow.active{
    opacity:1;
}

.arrow-top, .arrow-bottom{
    left:50%;
    transform:translate(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.arrow-left, .arrow-right{
    top:50%;
    transform:translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.arrow-top{
    top:10px;
    border-bottom: 15px solid var(--color-arrows);

}
.arrow-bottom{
    bottom:10px;
    border-top: 15px solid var(--color-arrows);
}
.arrow-left{
    left:10px;
    border-right: 15px solid var(--color-arrows);
}
.arrow-right{
    right:10px;
    border-left: 15px solid var(--color-arrows);
}

section.tools-ui{
    position:fixed;
    left:0;
    top:0;
    z-index: 10000;

}
section.tools-ui ul{
    list-style: none;
    margin:0;
    padding:0;

}
section.tools-ui ul.tools-buttons{
    display:flex;
    flex:0 0 0;

   
}

section.tools-ui ul.tools-buttons li{
    flex-basis: 2rem;
    width:2rem;
    height:2rem;
    background-size:80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}
section.tools-ui ul.tools-buttons li:hover{
    background-size:100%;
}
ul.tools-buttons li, ul.tools-descriptions li{
    display:none;
}

section.tools-ui.show ul.tools-buttons li{
    display:block;
    background-color:var(--color-interface-a);
}

section.tools-ui ul.tools-buttons li.active{
    background-color:var(--color-interface-b);
    display:block;
}

ul.tools-descriptions li.show{
    display:block;
    background-color:var(--color-interface-a);
    padding:0.5rem;
}

.button.tool-plus{
    background-image:url('../assets/icons/plus.svg');
}
.button.tool-invert{
    background:url('../assets/icons/compare_arrows.svg');
}
.button.tool-open{
    background: url('../assets/icons/external-link.svg');
}
.button.tool-line{
    background: url('../assets/icons/line.svg');
}
.button.tool-move{
    background:url('../assets/icons/move.svg');
}
.button.tool-rename{
    background:url('../assets/icons/rename.svg');
}
.button.tool-depth{
    background: url('../assets/icons/layers.svg');
}
.button.tool-delete{
    background: url('../assets/icons/x.svg');
}
section.tools-ui ul.tools-descriptions{
    font-family:var(--ui-font);
    font-size:1rem;
    color:black;
}
section.tools-ui ul.tools-descriptions li{
    color:black !important;
}


.node{
    position:absolute;

    z-index:2000;
    margin-bottom:100rem;

    white-space:nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.node.selected{
    filter:invert(1);
}
.node.disabled{
    opacity:0.2;
}
section.chemins-container.tool-add-edge .node:not(.disabled):hover{
    filter:invert(1);
}
.node.selectable{
    opacity:0.8;
}
.node.dragging{
    user-select: none;
    cursor:grabbing;
}
.node svg, .edge svg{
    position:absolute;
    top:0;
    left:0;
}

.node h3{
    padding:2rem 1rem;
    margin:0;
    color:var(--color-b);
    font-family:var(--node-font);
    text-transform:uppercase;
    font-style:italic;
    font-weight:bold;
    position:relative;
    top:3px;/*alignment correction to center vertically the node title */
    z-index:10000;
    text-align:center;


}

.node .ctx-menu{
    position:absolute;
    top:1px;
    right:3px; 
    z-index:20000;

}
.node .ctx-menu{
    width:1rem;
    height:1rem;
    display:block;

}


.edge{
    position:absolute;
    transform-origin: left center;
    text-align:center;
    /*background:lightyellow;*/
    /*border:1px solid var(--color-a);*/
    
    z-index:1000;
    display:flex;
    align-items:center;
}

.edge.disabled{
    opacity:0.2;
}
.edge h3{
    margin:0;
    padding:0;
    color:var(--color-b);
    font-family:var(--edge-font);
    font-size:1rem;
    width:100%;
    font-weight:bold;
    font-style:italic;
    position:relative;
    line-height: 1em;
    min-height: 2em;
    z-index:10000;
}

.icon.link{
    display:block;
    background-image: url('../assets/icons/link-2.svg');
    background-size:100% 100%;
}

.modal{
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:rgba(255, 255, 255, 0.5);
    display:flex;
    z-index:100000;
    justify-content: center;
    align-items: center;
}
.modal>div{
    background:var(--color-interface-b);
    padding:1rem;
    color:black;
    
}

.modal label{
    font-size:1rem;
    font-family:var(--ui-font);
    font-weight:normal;
    display:block;
}
textarea, select, button{

    background:var(--color-interface-a);
    border:none;
}
select{
    display:block;
}
textarea{
    border:none;
    box-shadow: none;
    outline:none;
    width:100%;
    
}


.info-display{
    font-family:var(--ui-font);
    font-style: italic;
    font-size:1rem;
    position:fixed;
    top:0;
    right:0;
    padding:1rem;
    line-height:1rem;
    background:white;
    opacity:0;
    transition:opacity 500ms;
    z-index:200000;

}
.info-display.show{
    opacity:1;
}
.info-display.validation{
    background:var(--color-interface-a);
    

}
.info-display.error{
    background:var(--color-interface-b);
    color:white;

}

.ui-front{
    z-index:100000;
}